:root {
  --main-txt-clr: #2e2f42;
  --navy-blue-clr: #2e2f42;
  --bcg-clr: #e5e5e5;
  --white-clr: #ffffff;
  --iris-clr: #4d5ae5;
  --ocean-clr: #404bbf;
  --green-clr: #31d0aa;
  --slate-clr: #434455;
  --light-slate-clr: #8e8f99;
  --accent-clr: #e7e9fc;
  --navy-blue-modal-clr: #f4f4fd;
  --grey-clr: #f4f4fd;
  --dairy-clr: #fcfcfc;

  /**
  |============================
  | Fonts
  |============================
*/

  --main-font: "Roboto", sans-serif;
  --secondari-font: "Raleway", sans-serif;

  /* Reset start */
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
/**
  |============================
  | body
  |============================
*/
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-clr);
  background-color: var(--white-clr);
}
/* Header box  */
.header-container {
  display: flex;
  align-items: center;
  height: 70px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/**
  |============================
  | header
  |============================
*/
.header-logo {
  margin-right: 75px;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-nav {
  margin-right: auto;
}
.address-mail {
  margin-right: 40px;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contacts-tel {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-clr);
  margin-right: 75px;
}
.logo-dark {
  font-family: "Raleway", sans-serif;
  color: var(--navy-blue-clr);
}
.logo-light {
  font-family: "Raleway", sans-serif;
  color: var(--navy-blue-modal-clr);
}
.header-item:hover,
.header-item:focus {
  font-weight: 500;
  color: var(--ocean-clr);
}

.header-item {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-clr);
}
.contacts-list {
  font-style: normal;
  display: flex;
}
.contacts-list :hover,
.contacts-list :focus {
  font-style: normal;
  color: var(--ocean-clr);
}
.contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-clr);
}
/**
  |============================
  | Header box
  |============================
*/
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
  outline-offset: -2px;
  border-bottom: 1px solid #e7e9fc;
}

/**
  |============================
  | hero box
  |============================
*/

/**
  |============================
  | skills box
  |============================
*/

/**
  |============================
  | Hero
  |============================
*/
.hero-container {
}
.hero-bcg {
  background-color: var(--navy-blue-clr);
  padding: 188px 0;
}
.hero-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-clr);
  margin-bottom: 48px;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.btn-color {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-clr);
  cursor: pointer;
  background-color: var(--iris-clr);
}
.btn-color:hover,
.btn-color:focus {
  font-family: inherit;
  background-color: var(--ocean-clr);
}
/**
  |============================
  | Button filtr
  |============================
*/
.btn:hover,
.btn:focus {
  background-color: var(--ocean-clr);
  color: var(--white-clr);
  cursor: pointer;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--navy-blue-modal-clr);
  min-width: 169px;
  min-height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-blue-clr);
}
.skills-text {
  color: var(--slate-clr);
}
/**
  |============================
  | section 2
  |============================
*/
.bcg-img {
  background-color: var(--white-clr);
}
.header-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-clr);
}

/**
  |============================
  | section 3
  |============================
*/
.bcg-team {
  line-height: 1.11;
  background-color: var(--navy-blue-modal-clr);
}
.bcg-img {
  background-color: var(--white-clr);
}
.header-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-clr);
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue-clr);
}
.team-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate-clr);
}
.footer {
  background-color: var(--navy-blue-clr);
}
.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal-clr);
}
